*,
html,
body {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color:gray;
}

.task-container {
  padding:1rem;
  display:flex;
  flex-direction:column;
  align-items:flex-start; 
  list-style-type:none;
  gap:1rem;
}

.task__description {
  margin-right:0.5rem;
  display:inline-block;
}

.task-container__task__head {
  display:flex;
  gap:1rem;
}